.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel__container {
  display: flex;
}

.carousel__slide {
  flex: 0 0 100%;
  position: relative;
  transition: opacity 0.7s ease;
}

.carousel__image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__text {
  color: white;
  font-size: 2.2rem;
  font-weight: 600;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;
  display: inline;

}

.animate-text {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.5s; 
}


.carousel__dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.carousel__dot {
  width: 12px;
  height: 12px;
  border-radius: 20%;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.carousel__dot.active {
  background: white;
  transform: scale(1.3);
}
